.poll-create {
    text-align: center;
    display: block;
    margin-top: 100px;
}

.poll-create-form {
    width: 100%;
}

.create-poll-btn {
    background-color: #42B6F3;
    color: white;
    border: none;
    /* padding: 20px; */
    padding: 15px 70px 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 12px;
}

.create-poll-btn:hover {
    background-color: #0b3148;
}

.poll-create-input{
    height: 60px;
    width: 50%;
    display: block;
    margin-left: 25%;
    margin-bottom: 30px;
}

.poll-create-input::placeholder {
    color: #42B6F3;
    text-align: center;
    font-size: 30px;
}

h2 {
    font-size: 60px;
}

.privacy {
    margin-bottom: 30px;
}

label {
    display: inline-flex;
}

#privacy-check {
    height: 50px;
    width: 50px;
    background-color: #eee;
    margin-left: 20px;
}
#question {
    font-size: 35px;
    text-align: center;
}
#time {
    font-size: 35px;
    text-align: center;
}