.poll-answer {
    text-align: center;
    display: block;
    margin-top: 100px;
}

.poll-result {
    text-align: center;
    display: block;
    margin-top: 50px;
}

.poll-result-form {
    width: 100%;
}

.poll-question{
    margin-bottom: 3rem;
    position: relative;;
}

.all-elements{
    width: 40%;
    display: inline-block;

}

.radio-buttons {
    margin-bottom: 4rem;

}

.result-yes {
    background-color: #256CE2;
    color: white;
    text-align: right;
    border-radius: 12px;
}

.result-no {
    background-color: #256CE2;
    color: white;
    text-align: right;
    border-radius: 12px;
}

.container-result label{
    display: inline-block;
    width: 100%;
    padding: 10px;
    transition: all 0.3s;
    color: white;
    background-color: black;
    border-radius: 12px;
    font-weight: bold;
    margin-bottom:20px;


}

.container-result input[type="radio"] {
    display: none;
    background-color: black;
}



/* .text-and-button{
    display: flex;
    margin-bottom: 5rem;
    text-align: center;
} */

/* .text-and-button input{
position: relative;
left: 80%;
} */

/* .text-and-button p {
    position: absolute;
} */


.container-result {
    background-color: black;
    width: 100%;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    padding:10px;
}