.poll-search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 110vh;
}

.poll-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.poll-search-input{
    color: #42B6F3;
    height: 60px;
    width: 50%;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10px;
}

.poll-search-input::placeholder {
    color: #42B6F3;
    text-align: center;
    font-size: 30px;
}

.poll-search-input:focus{
    outline: none;
}
.poll-search-input:focus::placeholder {
    color: transparent;
}

.logo{
    height: 300px;
    width: 300px;
    margin-top: -200px;
    margin-bottom: 50px;
}