.poll-search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 110vh;
}

.poll-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.submit-poll-btn {
    background-color: #34799e;
    color: white;
    border: none;
    padding: 15px 70px 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 12px;
}

.submit-poll-btn:active{
    transform: translateY(2px);
}

.submit-poll-btn:hover {
    background-color: #134b6e;
    cursor: pointer;
}

.poll-search-input{
    color: #42B6F3;
    height: 60px;
    width: 50%;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10px;
}

.poll-search-input::placeholder {
    color: #42B6F3;
    text-align: center;
    font-size: 30px;
}

.poll-search-input:focus{
    outline: none;
}
.poll-search-input:focus::placeholder {
    color: transparent;
}

.logo{
    height: 300px;
    width: 300px;
    margin-top: -200px;
}