.availablePolls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poll-header{
    font-size: 50px;
}

.divider{
    width: 600px;
    height: 1px;
    background-color: white;
    margin-top: -20px;
    margin-bottom: 20px;
}
.polls{
    text-align: center;
}
.poll{
    font-size: 25px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #1c1f24;
}
.poll:hover{
    cursor: pointer;
    background-color: #121418;
}

.poll:active{
    cursor: pointer;
    background-color: #121418;
    transform: translateY(2px);
}