.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: pink;
}
.btn {
    background-color: #42B6F3;
    color: white;
    border: none;
    padding: 15px 70px 15px 70px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 12px;
    box-shadow: 0 7px #15171a;
}

.vote-yes-btn {
    background-color: #24961a;
    border: none;
    padding: 180px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    margin: 4px 10px;
    border-radius: 12px;
    box-shadow: 0 7px #15171a;
    border: none;
    border-radius: 15px;
}

.vote-yes-btn:hover {
    background-color: #1f8a11;
    cursor: pointer;
}

.vote-yes-btn:active {
    background-color: #107a10;
    transform: translateY(4px);
}


.vote-no-btn {
    background-color: #961a1a;
    border: none;
    padding: 180px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    margin: 4px 10px;
    border-radius: 12px;
    border: none;
    border-radius: 15px;
}

.vote-no-btn:hover {
    background-color: #8a1111;
    cursor: pointer;
}

.vote-no-btn:active {
    background-color: #7a1010;
    transform: translateY(4px);
}

.next-poll-btn {
    background-color: #5e5e5e;
    color: white;
    border: none;
    padding: 15px 70px 15px 70px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 20px 0px;
    border-radius: 12px;
    border: none;
    border-radius: 15px;
}

.next-poll-btn:hover {
    background-color: #575757;
    cursor: pointer;
}

.next-poll-btn:active {
    background-color: #2b6c93;
    transform: translateY(4px);
}
