.poll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;   
    height: 100vh;  
    font-size: 8px;
    color: rgb(128, 128, 128);
}
.device-id {
    font-weight: normal;
    margin-bottom: 0px;
}
.device-name {
    font-weight: normal;
    margin-bottom: 0px;
}
.poll-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.poll-text {
    font-size: 40px;
    color: #bdbdbd;
    margin-top: 50px;
}

.poll-question {
    font-size: 50px;
    color: #e6e6e6;
    margin-top: -30px;
}