.profile-page {
    text-align: center;
    margin-top: 150px;
    font-family: 'Open-Sans', sans-serif;
}

.picture {
    height: 180px;
    width: 180px;
    background-color: #0073b1;
    border: 2px solid white;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 50px;
}

.firstname {
    background-color: #1c1f24;
    border: 1px solid white;
    min-width: 50%;
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    font-size: 40px;
    margin-bottom: 20px;
}

.username {
    background-color: #1c1f24;
    border: 1px solid white;
    min-width: 50%;
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    font-size: 40px;
    margin-bottom: 20px;
}

.email {
    background-color: #1c1f24;
    border: 1px solid white;
    min-width: 50%;
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    font-size: 40px;
    margin-bottom: 20px;
}

.bottom {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.seperator {
    margin-right: 20px;
}

.votes {
    margin-right: 20px;
}

.pollButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 55px;
    margin-left: 525px;

}