.profile-page {
    text-align: center;
    margin-top: 50px;
    /* align-items: center; */
}

.picture {
    font-size: 100px;
    height: 100px;
    width: 130px;
    background-color: #42B6F3;
    border-radius: 20%;
    display: inline-block;
    margin-bottom: 50px;
    padding-bottom: 30px;
}

/* .picture::placeholder {
    color: #42B6F3;
    text-align: center;
    font-size: 30px;
    padding-left: 0 !important;
    margin-left: 0 !important;
} */

.firstname {
    background-color: #8a9199;
    width: 30%;
    display: inline-block;
    border-radius: 5em;
    padding: 10px;
    font-size: 40px;
    margin-bottom: 20px;
}

.username {
    background-color: #8a9199;
    width: 30%;
    display: inline-block;
    border-radius: 5em;
    padding: 10px;
    font-size: 40px;
    margin-bottom: 20px;
}

.email {
    background-color: #8a9199;
    width: 30%;
    display: inline-block;
    border-radius: 5em;
    padding: 10px;
    font-size: 40px;
    margin-bottom: 20px;
}

.bottom {
    display: flex;
    justify-content: center;
}

.seperator {
    margin-right: 20px;
}

.votes {
    margin-right: 20px;
}

/* .circle {
    height: 100px;
    width: 100px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 50px;
  } */