.poll-answer {
    text-align: center;
    display: block;
    margin-top: 100px;
}

.poll-answer-form {
    width: 100%;
}

.poll-question{
    margin-bottom: 3rem;
    position: relative;;
}

.all-elements{
    width: 40%;
    display: inline-block;

}

.radio-buttons {
    margin-bottom: 4rem;

}

.radio-buttons label{
    display: inline-block;
    width: 100%;
    padding: 10px;
    transition: all 0.3s;
    color: white;
    background-color: black;
    border-radius: 12px;
    font-weight: bold;
    margin-bottom:20px;


}

.radio-buttons input[type="radio"] {
    display: none;
    background-color: black;
}

.radio-buttons input[type="radio"]:checked + label {
    background-color: #256CE2;
    color: white;

}

.submit-answer-btn {
    background-color: #42B6F3;
    color: white;
    border: none;
    /* padding: 20px; */
    padding: 9px 45px 9px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 8px;
}

.submit-answer-btn:hover {
    background-color: #0b3148;
}

.text-and-button{
    display: flex;
    margin-bottom: 5rem;

}

.text-and-button input{
position: relative;
left: 80%;
}

.text-and-button p {
    position: absolute;
 

}