.container {
    text-align: center;
    margin-top: 130px;
    width: 670px;
}

.form{
    margin-right: 170px;
}

.form-control {
    background-color: #1c1f24;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 18px;
    width: 300px;
}

.form-group {
    font-size: 25px;
    text-align: right;
    width: auto;
}

.form-submit{
    margin-top: 10px;
    margin-left: 175px;
}

.reg-btn {
    background-color: #42B6F3;
    color: white;
    border: none;
    padding: 15px 40px 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 12px;
    margin-top: 20px;
    margin-left: 170px;
}

.reg-btn:hover {
    background-color: #0b3148;
    cursor: pointer;
}

